/.git
/.idea
/docker/dockerfile
/e2e
/storage
.dockerignore
.env
.env.example
.gitignore
.golangci.yml
.pre-commit-config.yaml
compose.yaml
Makefile
makefile_build.mk
makefile_install_local.mk
postman_collection.json
postman_env_1.json
postman_env_2.json
readme.md
run_golint.sh
