APP_HTTP_PORT=8080
APP_HTTP_PORT_PUBLIC=8081
APP_TIME_ZONE=Europe/Moscow

DB_HOST=db
DB_PORT_PUBLIC=5433
DB_NAME=golang
DB_USERNAME=alejandro
DB_PASSWORD=secret
DB_DSN="host=${DB_HOST} user=${DB_USERNAME} password=${DB_PASSWORD} dbname=${DB_NAME} port=5432 sslmode=disable TimeZone=${APP_TIME_ZONE}"

GOOSE_DRIVER: postgres
GOOSE_DBSTRING: ${DB_DSN}
