HTTP_PORT=8080
HTTP_PORT_PUBLIC=8081

DB_HOST=db
DB_PORT_PUBLIC=5433
DB_NAME=golang
DB_USERNAME=alejandro
DB_PASSWORD=secret
DB_STRING="host=${DB_HOST} user=${DB_USERNAME} password=${DB_PASSWORD} dbname=${DB_NAME} port=5432 sslmode=disable TimeZone=Europe/Moscow"
