APP_HTTP_PORT=8080
APP_HTTP_PORT_PUBLIC=8081
APP_TIME_ZONE=Europe/Moscow

POSTGRES_PORT_PUBLIC=5433
POSTGRES_DB=golang
POSTGRES_USER=alejandro
POSTGRES_PASSWORD=secret

DB_DSN="host=db user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} port=5432 sslmode=disable TimeZone=${APP_TIME_ZONE}"

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=db user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} port=5432 sslmode=disable TimeZone=${APP_TIME_ZONE}"
GOOSE_MIGRATION_DIR=./database/migrations
